.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    list-style: none;
    gap: 30PX;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E6E9ED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    color: black;
}
#navigation {
    text-decoration: none;
    border: none;
    font-weight: bolder;
    padding-right: 10px;
    color: black;
}

#navigation:hover {
    color: red;
}