body {
    background-color: #E6E9ED;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    list-style: none;
    gap: 30PX;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E6E9ED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    color: black;
}

#navigation {
    text-decoration: none;
    border: none;
    font-weight: bolder;
    padding-right: 10px;
    color: black;
}

#navigation:hover {
    color: rgb(164, 29, 29);
}

.main-container {
    margin: 3% 7%;
    box-shadow: -5px 5px 5px #E6E9ED;
    background-color: #F8F9FA;
    border-radius: 10px;
}

.inpur-field {
    font-weight: 400px;
    background-color: #E6E9ED;
}

hr {
    margin: 5% 0%;
}

.profile-container {
    display: flex;
    background-color: rgb(164, 29, 29);
    height: 200px;
    border-radius: 10px;
    padding: 40px 40px 0px 40px;
}
.button-1{
    background-color: #D7C9B1; 
    border-radius: 10px; 
    padding: 8px 24px; 
    font-weight:bold; 
    word-spacing: 2px; 
    letter-spacing: 1px;
}
.button-2{
    background-color:  #D7C9B1; 
    border-radius: 10px; 
    margin-left: 10px; 
    font-weight: bold;  
    padding: 8px 24px; 
}